.mainContainer {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  border: solid 1px rgb(81, 255, 0);
}

.navBar {
  flex-direction: row;
  width: 100vw;
  height: 5vh;
  border: solid 1px red;
}

.logo {
  width: 1vw;
  height: 1vh;
  justify-content: flex-start;
}

.refresh {
  width: 1vw;
  height: 1vh;
  justify-content: flex-end;
}

.listComponent {
  align-self: flex-end;
  width: 60vw;
  height: 85vh;
  margin-right: 4vw;
  border: solid 1px rgb(4, 0, 255);
}
