$primary-blue: #215184;
$font-color: #545454;
$font-family: "Brandon Grotesque", Arial, Helvetica, sans-serif;

@font-face {
  font-family: "Brandon Grotesque";
  src: url("assets/font/BrandonGrotesque-Bold.woff2") format("woff2"),
    url("assets/font/BrandonGrotesque-Bold.woff") format("woff"),
    url("assets/font/BrandonGrotesque-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("assets/font/BrandonGrotesque-Regular.woff2") format("woff2"),
    url("assets/font/BrandonGrotesque-Regular.woff") format("woff"),
    url("assets/font/BrandonGrotesque-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("assets/font/BrandonGrotesque-RegularItalic.woff2") format("woff2"),
    url("assets/font/BrandonGrotesque-RegularItalic.woff") format("woff"),
    url("assets/font/BrandonGrotesque-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("assets/font/BrandonGrotesque-Black.woff2") format("woff2"),
    url("assets/font/BrandonGrotesque-Black.woff") format("woff"),
    url("assets/font/BrandonGrotesque-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Brandon Grotesque";
  src: url("assets/font/BrandonGrotesque-Medium.woff2") format("woff2"),
    url("assets/font/BrandonGrotesque-Medium.woff") format("woff"),
    url("assets/font/BrandonGrotesque-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

.navBar {
  width: 100vw;
  height: 10vh;
  border: solid 1px red;
}
.logoText-con {
  display: inline-flex;
  align-items: baseline;
}

.logo {
  width: 16vw;
  height: 3vh;
  border: solid purple 1px;
}

.logoText {
  color: $font-color;
  font-family: $font-family;
  font-size: 3vh;
  margin: 0vh;

  // border: 1px solid teal;
}

// .refresh-btn {
//   border: chartreuse solid 1px;
// }

.mainContainer {
  display: inline-flex;
  align-items: center ;
  
  border: solid 1px rgb(81, 255, 0);
}
.rocketImage-container {
  height: 100vh;
  width: 50vw;
  border: solid 1px chartreuse;
}

.rocketImage {
  height: 100vh;
  width: 45vw;
  background-image: url("./assets/img/launch-home.png");
  background-repeat: no-repeat;
  border: solid 1px orangered;
  margin-left: 1vw;
}

//--------------------------------------
.listComponent {
  height: 100vh;
  width: 50vw;
  border: solid 1px rgb(4, 0, 255);
  overflow: scroll;
}

.listItem {
  display: inline-flex;
  height: 6vh;
  width: 40vw;
  border-radius: 10px;
  box-shadow: 1px 2px 15px $font-color;
  margin-bottom: 3vh;
  margin-left: 1vw;

  border: cyan solid 1px;
}

.li {
  list-style: none;
}

.item-right {
  display: inline-flex;
  justify-content: center;
  text-align: center;

  height: 5vh;
  width: 40vw;
  font-size: 3vh;
  font-family: $font-family, bold;
  color: $font-color;
  border: red 1px solid;
  margin-top: 1vh;
}
.flight-No {
  border: red 1px solid;
  height: 4vh;
  width: 5vh;
}

.mission-name {
  border: green 1px solid;
  height: 4vh;
  width: 40vw;
  text-align: left;
  margin-left: 3vw;
}

.item-left {
  display: inline-flex;
  flex-direction: column;

  align-items: left;
  height: 5vh;
  width: 10vw;
  font-family: $font-family;
  color: $font-color;
  border: blue 1px solid;
}

.launch-year {
  border: orange 1px solid;
  height: 2vh;
  width: 7vw;

  font-size: 1vh;
}

.rocket-name {
  border: brown 1px solid;
  height: 2vh;
  width: 7vw;
  font-size: 2vh;
}

.year-filter-btn {
  width: 7vw;
  height: 3vh;
  background-color: $primary-blue;
  font-family: $font-family;
  color: whitesmoke;
}

.btnfil {
  margin-left: 30vw;
  margin-bottom: 1vh;
}
